# available in pip but not in conda
Appopener
cohere
edge-tts
googlesearch-python
groq
keyboard
mtranslate
pygame
PyQt5
pywhatkit
webdriver-manager

# available in conda
python-dotenv
bs4
pillow
rich
requests
selenium

